# requirements.txt
streamlit
pandas
Pillow
python-dotenv
langchain
langchain-upstage

# For Image Generation (VLM)
diffusers
transformers
torch
accelerate
safetensors

# For Similarity Check (Embeddings)
sentence-transformers

backoff